<div id="dataset" class="wrapper">
	<div class="main">
		<div>
			<h2 style="float:left;">New Test</h2>
			<div class="button-save" (click)="save()">Save</div>
		</div>
        <div style="top: 55px;margin-top: 45px;" class="separator-upper"></div>
        <div style="position:absolute; top: 55px;">
        <h3 style="display: inline-block;">Select labels</h3>
        </div>
        <div *ngIf="loadingLabels" class="center upload-button" style="position:absolute; left: 50%; margin-left: -25px;  top: 50%;margin-top: 50px;">
            <img class="loading-icon" src="assets/gfx/loading-icon.png"><br>
            Loading
        </div>
        <div *ngIf="!loadingLabels" class="list" style="top: 55px;margin-top: 50px; bottom: 50%;">
            <div class="box">
                <div *ngFor="let label of labels" class="pointer">
                    <div class="datalist-row">
                        <img  (click)="selectLabel(label)" *ngIf="test.LabelIds.indexOf(label.Id) != -1" src="/assets/gfx/select-icon-selected.png" class="radio-icon">
                        <img  (click)="selectLabel(label)" *ngIf="test.LabelIds.indexOf(label.Id) == -1" src="/assets/gfx/select-icon.png" class="radio-icon">
                        {{ label.Name }}
                    </div>
                </div> 
            </div>
        </div>
        <div style="bottom: 50%;" class="separator-lower"></div>
        <div style="top: 50%;margin-top: 45px;" class="separator-upper"></div>
        <div style="position:absolute; top: 50%;">
        <h3 style="display: inline-block;">Select train/test data</h3>
        </div>
        <div *ngIf="loadingData" class="center upload-button" style="position:absolute; left: 50%; margin-left: -25px;  top: 50%;margin-top: 50px;">
            <img class="loading-icon" src="assets/gfx/loading-icon.png"><br>
            Loading
        </div>
        <div *ngIf="!loadingData" class="list" style="top: 50%;margin-top: 50px; bottom: 20px;">
            <div class="box">
                <div *ngFor="let data of datalist" class="pointer">
                    <div class="datalist-row">
                        
                        {{ data.Name }}
                        <div style="float:right; margin-left: 20px;">
                            <img  (click)="selectTrainingData(data)" *ngIf="test.TrainingDataSetIds.indexOf(data.Id) != -1" src="/assets/gfx/select-icon-selected.png" class="radio-icon">
                            <img  (click)="selectTrainingData(data)" *ngIf="test.TrainingDataSetIds.indexOf(data.Id) == -1" src="/assets/gfx/select-icon.png" class="radio-icon">
                            Train
                        </div>
                        <div style="float:right">
                            <img  (click)="selectTestData(data)" *ngIf="test.TestDataSetIds.indexOf(data.Id) != -1" src="/assets/gfx/select-icon-selected.png" class="radio-icon">
                            <img  (click)="selectTestData(data)" *ngIf="test.TestDataSetIds.indexOf(data.Id) == -1" src="/assets/gfx/select-icon.png" class="radio-icon">
                            Test
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div style="bottom: 20px;" class="separator-lower"></div>
	</div>
</div>